:root {
    --bg: #06080c;
    --bg-sec: #1A1D22;

    --text: #e5e7eb;
    --text-sec: #6b7280;
    --text-op: #FFFFFF;

    --border: #2A2F35;
    --hover: #f0f0f0;

    --primary: #7C3AED;
    --primary-sec: #A855F7;
}

