.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    background-color: var(--primary);

    padding: 12px;

    border-radius: 21px;

    font-size: 1.8rem;
    color: var(--text);
    font-family: var(--font5);
    font-weight: 500;
}
